<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.dao.mapper.DriverMapper">

    <insert id="creatOrder" parameterType="com.supconit.dao.domain.OrderDo" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            gmt_create,
            gmt_modify,
            <if test="carName != null and carName != ''">
                car_name,
            </if>
            <if test="carColor != null and carColor != ''">
                car_color,
            </if>
            <if test="carNumber != null and carNumber != ''">
                car_number,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            NOW(),
            NOW(),
            <if test="carName != null and carName != ''">
                #{carName},
            </if>
            <if test="carColor != null and carColor != ''">
                #{carColor},
            </if>
            <if test="carNumber != null and carNumber != ''">
                #{carNumber},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
        </trim>
    </insert>

</mapper>
