<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.mapper.TestMapper">


    <insert id="insert" parameterType="com.supconit.domain.TestDo">
        INSERT INTO test(name) values(#{name})
    </insert>

</mapper>
