<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.dao.mapper.UserMapper">


    <select id="getUserByWechatOpenid" parameterType="java.lang.String" resultType="UserDto">
        SELECT * FROM user WHERE is_delete = 0 AND openid = #{wechatOpenid}
    </select>

    <insert id="insert" parameterType="UserDto" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            gmt_create,
            gmt_modify,
            is_delete,
<!--            <if test="updateMillon != null">-->
<!--                update_millon,-->
<!--            </if>-->
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="wechatOpenid != null and wechatOpenid != ''">
                openid,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name,
            </if>
            <if test="genderValue != null">
                gender_value,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            NOW(),
            NOW(),
            0,
<!--            <if test="updateMillon != null">-->
<!--                #{updateMillon},-->
<!--            </if>-->
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="wechatOpenid != null and wechatOpenid != ''">
                #{wechatOpenid},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="nickName != null and nickName != ''">
                #{nickName},
            </if>
            <if test="genderValue != null">
                #{genderValue},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="UserDto">
        UPDATE user
        SET
        <if test="updateMillon != null">
            update_millon = #{updateMillon},
        </if>
        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="wechatOpenid != null and wechatOpenid != ''">
            openid = #{wechatOpenid},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="nickName != null and nickName != ''">
            nick_name = #{nickName},
        </if>
        <if test="genderValue != null">
            gender_value = #{genderValue},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        gmt_modify = NOW()
        WHERE is_delete = 0 AND id = #{id}
    </update>

    <select id="getByUserId" parameterType="java.lang.Long" resultType="com.supconit.dao.domain.UserDo">
        SELECT * FROM user WHERE is_delete = 0 AND id = #{userId}
    </select>
</mapper>
